
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: "Inter", san-serif;
}

.btn{
    color: #ffffff;
    border: none;
    background-color: #12a6ba;
    border-radius: 10px;
}

button{
    cursor: pointer;
}